.testimonial-carousel-container {
  text-align: center;
  padding: 4px 0;
}

.carousel-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #381350;
}

.testimonial-carousel-wrapper {
  overflow: hidden;
  max-width: 1080px; /* 353 * 3 + spacing */
  margin: 0 auto;
  height: 280px;
}

.testimonial-carousel-track {
  display: flex;
  transition: transform 0.6s ease;
}

.testimonial-card {
  min-width: 353px;
  max-width: 353px;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-right: 10px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 2px 2px 2px #C596DC;
}

.testimonial-top {
  display: flex;
  align-items: center;
  gap: 15px;
}

.testimonial-img {
  width: 94px;
  height: 94px;
  object-fit: cover;
  border-radius: 14px;
}

.testimonial-user-details {
  text-align: left;
}

.testimonial-user-details h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #2d0053;
}

.testimonial-user-details p {
  margin: 2px 0;
  color: #393939;
  font-size: 16px;
  font-weight: 500;
}

.stars {
  font-size: 18px;
  color: #381350;
}

.testimonial-bottom {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  text-align: left;
}

.quote-icon {
  width: 32px;
  height: 32px;
  margin-top: 5px;
}

.testimonial-bottom p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.testimonial-carousel-dots {
  margin-top: 20px;
}

.testimonial-carousel-dots {
  margin-top: 20px;
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #C596DC;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #381350;
}
