/* General Navbar Styling */

.perent {
    margin: 1rem 4rem 0 4rem;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #4C1298, #CD5473);
    border-radius: 30px;
    width: 82vw;
    height: 60px;
}

.logo {
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

/* Search Bar Styling */
.search-container {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 50px;
    padding: 4px 8px;
    width: 30rem;
    height: 50px;
    margin-right: 4px;
}

.search-input {
    border: none;
    outline: none;
    flex: 1;
}

.search-icon {
    color: black;
    cursor: pointer;
}
.icons{

display: flex;
justify-content: center;
align-items: center;


}
.icon{
    font-size: 20px;
    color: #757575;
    width: 50px;  /* Adjust based on your need */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 2rem;
    
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
      display: none; /* Hide menu links on small screens */
    }
    .search-container {
      width: 150px;
    }
}

@media (max-width: 480px) {
    .navbar {
      flex-direction: column;
      padding: 10px;
    }
    .search-container {
      width: 100%;
      margin-top: 10px;
    }
}
  
